.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.login-form {
	max-width: 40%;
	width: 100%;
}

.login-form-buttons {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.login-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	gap: 4px;
}
